<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>blij.png</string>
	<string>danken.png</string>
	<string>donderwolk.png</string>
	<string>donkerdenken.png</string>
	<string>droevig.png</string>
	<string>duivel.png</string>
	<string>lofprijs.png</string>
	<string>verdrietig.png</string>
	<string>roodkruis.png</string>
	<string>jezus.png</string>
	<string>engel.png</string>
</array>
</plist>
